<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="title-box">
            <h1 id = "title"> IG NOTIFICATION MANAGER </h1>
        </div>
        <ul>
            {% for item in items %}
            <li>
                <h2>{{item.text}}</h2>
                <div class = "links">
                    {% for name in item.names %}
                    <a class = "link" href = "https://instagram.com/{{name}}">{{name}}</a> 
                    {% endfor %}
                </div>
                <input type = "button" class = "delete_notif" value = "DELETE" onclick="delete_notif(this)">
            </li>
            {% endfor %}
        </ul>
    </body>
    <script>    
        // Function to delete notification //
        function delete_notif(event) { 
            parentText = event.parentElement.querySelector('h2').textContent.trim();
            console.log(parentText)
            fetch("/delete_notif", {
                method: 'POST', 
                headers: {
                    'Content-Type' : 'application/json'
                },
                body: JSON.stringify({text: parentText})
            })
            .then(data => {
                console.log("Success: ", data)
                window.location.href = window.location.href
            })
            .catch(error => console.error(error))    
        }
        // Allows entries to be deleted on phone swipe //
        document.addEventListener("DOMContentLoaded", function () {
            let elements = document.getElementsByTagName("li");
            Array.from(elements).forEach(element => {
                let startX = 0;
                let endX = 0;

                element.addEventListener("touchstart", function (event) {
                    startX = event.touches[0].clientX;
                });
            
                element.addEventListener("touchend", function (event) {
                    endX = event.changedTouches[0].clientX;
                
                    if (startX - endX > 50 || endX - startX > 50) {
                        delete_notif(element.getElementsByTagName('input')[0]);
                    }
                });   
            });
        });

        // Applies parallax effect //
        document.addEventListener("scroll", function () {
            let scrollTop = window.scrollY;
            document.body.style.backgroundPosition = `center ${scrollTop * 0.5}px`;
        });

        // Adds message to page if there are no new notifications //
        if (!document.querySelector("li")) {
            document.body.append("<div class = 'title-box'> <h2 class = 'title'> Waiting on new notifications. </h2> </div>")
        }
    </script>
</html>
